@model IEnumerable<Longhorn_Bank.Models.UserHomePage>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>My Banking Summary</h2>

<p>My Accounts</p>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#checkings">Checkings</a></li>
    <li><a data-toggle="tab" href="#savings">Savings</a></li>
    <li><a data-toggle="tab" href="#ira">IRA</a></li>
    <li><a data-toggle="tab" href="#stockportfolio">Stock Portfolio</a></li>
</ul>

<div class="tab-content">
    <div id="checkings" class="tab-pane fade in active">
        <h3>My Checkings</h3>
        <p>Some content.</p>
    </div>
    <div id="savings" class="tab-pane fade">
        <h3>My Savings</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="ira" class="tab-pane fade">
        <h3>My IRA</h3>
        <p>Some content in menu 2.</p>
    </div>
    <div id="stockportfolio" class="tab-pane fade">
        <h3>My Stock Portfolio</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>







@*<h2>Account Summary</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.ActionLink("Checking", "Index", "Checkings", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Saving", "Index", "Savings", null, new { @class = "btn btn-info" })
        @Html.ActionLink("IRA", "Index", "IRAs", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Stock Portfolio", "Index", "StockPortfolios", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Transaction", "Index", "Transactions", null, new { @class = "btn btn-info" })
    </p>
}
<br/>
<h2>My Checkings Accounts</h2>
<table class="table table-bordered">
    <tr>
        <th>
            
        </th>
        <th>
            Accounts Number
        </th>
        <th>
            Account Balance
        </th>
    </tr>

    @foreach (var item in Model.Checkings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckingsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckingsAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckingsBalance)
            </td>
        </tr>
    }

</table>

<br />
<h2>My Savings Accounts</h2>
<table class="table table-bordered">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Accounts Number
        </th>
        <th>
            Account Balance
        </th>
    </tr>

    @foreach (var item in Model.Savings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SavingsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SavingsAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SavingsBalance)
                </td>
            </tr>
        }

</table>

<br />
<h2>My IRA Account</h2>
<table class="table table-bordered">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Accounts Number
        </th>
        <th>
            Account Balance
        </th>
    </tr>

    @foreach (var item in Model.IRA)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IRAName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IRAAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IRACashBalance)
                </td>
            </tr>
        }

</table>

<br />
<h2>My Stock Portfolio</h2>
<table class="table table-bordered">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Accounts Number
        </th>
        <th>
            Account Balance
        </th>
    </tr>

    @foreach (var item in Model.StockPortfolio)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockPortfolioName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortfolioCashBalance)
                </td>
            </tr>
        }

</table>*@


