@using Longhorn_Bank.Models

@model AppUser

@{
    ViewBag.Title = "Index";
}

<br />
<h2>My Banking Summary</h2>

<p>
    <div align="right">
        @Html.ActionLink("Transactions", "Index", "Transactions", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Live Stock Prices", "Index", "StockQuote", null, new { @class = "btn btn-info" })
    </div>
</p>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#checkings">My Checkings</a>
    </li>
    <li>
        <a data-toggle="tab" href="#savings">My Savings</a>
    </li>
    <li>
        <a data-toggle="tab" href="#ira">My IRA</a>
    </li>
    <li>
        <a data-toggle="tab" href="#stockportfolio">My Stock Portfolio</a>
    </li>
</ul>

@Html.ActionLink("Edit My Account", "Edit", "UserHomePage", new { area = "" }, new { @class = "navbar-brand" })
<br/>


<div class="tab-content">
    <div id="checkings" class="tab-pane fade in active">
        <br />
        <br />
        @Html.ActionLink("Create New Checking Account", "Create", "Checkings", null, new { @class = "btn btn-info" })
        <br />
        <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Accounts Number
                </th>
                <th>
                    Account Balance
                </th>
            </tr>

            @foreach (var item in Model.Checkings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckingsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckingsAccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckingsBalance)
                    </td>
                    
                </tr><td>
    @Html.ActionLink("See Transactions", "Index", "Transactions")
</td>
            }
        </table>
    </div>
    <div id="savings" class="tab-pane fade">
        <br />
        <br />
        @Html.ActionLink("Create New Savings Account", "Index", "Savings", null, new { @class = "btn btn-info" })
        <br />
        <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Accounts Number
                </th>
                <th>
                    Account Balance
                </th>
            </tr>

            @foreach (var item in Model.Savings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavingsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavingsAccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavingsBalance)
                    </td>
                    
                </tr>
                <td>
                    @Html.ActionLink("See Transactions", "Index", "Transactions")
                </td>
            }
        </table>
    </div>
    <div id="ira" class="tab-pane fade">
        <br />
        <br />
        @Html.ActionLink("Create New IRA Account", "Index", "IRAs", null, new { @class = "btn btn-info" })
        <br />
        <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Accounts Number
                </th>
                <th>
                    Account Balance
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.IRA.IRAName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRA.IRAAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRA.IRACashBalance)
                </td>
                <td>
                    @Html.ActionLink("See Transactions", "Index", "Transactions") 
                </td>
            </tr>
        </table>
    </div>
    <div id="stockportfolio" class="tab-pane fade">
        <br />
        <br />
        @Html.ActionLink("Create New Stock Portfolio Account", "Index", "StockPortfolios", null, new { @class = "btn btn-info" })
        <br />
        <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Accounts Number
                </th>
                <th>
                    Account Balance
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.StockPortfolio.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StockPortfolio.StockAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StockPortfolio.PortfolioCashBalance)
                </td>
                <td>
                    @Html.ActionLink("See Transactions", "Index", "Transactions") 
                </td>
            </tr>
        </table>
    </div>
</div>
























