@model IEnumerable<Longhorn_Bank.Models.Saving>

@{
    ViewBag.Title = "Index";
}

<h2>My Savings Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Account Number
        </th>
        <th>
            Account Balance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SavingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SavingID }) 
        </td>
    </tr>
}

</table>
