@model Longhorn_Bank.Models.Checking

@{
    ViewBag.Title = "EnableDisable";
}

<h2>Enable or Disable Checking Account</h2>

<h3>Are you sure you want to enable or disable this checking account?</h3>
<div>
    @*<h4>Checking Account</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckingsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckingsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckingsAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckingsAccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckingsBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckingsBalance)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Checking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CheckingID)

            <div class="form-group">
                @Html.LabelFor(model => model.CheckingAccountActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CheckingAccountActive)
                        @Html.ValidationMessageFor(model => model.CheckingAccountActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }*@
</div>
