@model IEnumerable<Longhorn_Bank.Models.Checking>

@{
    ViewBag.Title = "Index";
}

<h2>My Checking Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Account Number
        </th>
        <th>
            Account Balance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingsAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingsBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckingID }) 
        </td>
    </tr>
}

</table>
