@using Longhorn_Bank.Controllers
@model Longhorn_Bank.Models.Transaction

@{
    ViewBag.Title = "DetailedSearch";
}

<h2>Transaction Search</h2>

@using (Html.BeginForm("DetailedSearch", "Transaction", FormMethod.Get))
{
    <p class="form-group">
        Transaction Number: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />

        Transaction Type:  
                @Html.EnumDropDownListFor(model => model.TransactionType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })<br/>
        

        Description Search: @Html.TextBox("Description", null, new { @class = "form-control" })<br />

         
       
       @*Search Description: @Html.TextBox("Description", null, new { @class = "form-control" })<br />*@
        @* we should probably make this a drop down list once we figure it out *@
        Date:
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedDateRange", DateRange.last15days, true, new { @class = "form-check-input" }) Last 15 Days
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedDateRange", DateRange.last30days, true, new { @class = "form-check-input" }) Last 30 Days
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedDateRange", DateRange.last60days, true, new { @class = "form-check-input" }) Last 60 Days
                </label>
            </div>

            <div class=" = "form-check">
                <label class=""form-check-label">
                    @Html.RadioButton("SelectedDateRange", DateRange.customrange, true, new { @class = "form-check-input" }) Custom Date Range <br/>
                   <br/> Start Date @Html.TextBox("CustomDateRangeStart", null, new { @class = "form-control" }) <br />
                   End Date @Html.TextBox("CustomDateRangeEnd", null, new { @class = "form-control" })<br />
                </label>
            </div>

            @* Create radiobutton for all dates *@

        </div>


        Amount:
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedAmountRange", AmountRange.A, true, new { @class = "form-check-input" }) $0-$100
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedAmountRange", AmountRange.B, true, new { @class = "form-check-input" }) $100-$200
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedAmountRange", AmountRange.C, true, new { @class = "form-check-input" }) $200-$300
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedAmountRange", AmountRange.D, true, new { @class = "form-check-input" }) $300+
                </label>
            </div>

            <div class=" = " form-check">
                <label class="" form-check-label">
                    @Html.RadioButton("SelectedAmountRange", AmountRange.customrange, true, new { @class = "form-check-input" }) Custom Amount Range <br />
                  <br/> Start Amount @Html.TextBox("AmountStart", null, new { @class = "form-control" })<br />
                   End Amount @Html.TextBox("AmountEnd", null, new { @class = "form-control" })<br />
                </label>
            </div>
        </div>

    </p>
}