@model IEnumerable<Longhorn_Bank.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>My Transactions</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.ActionLink("Deposit", "Index", "Deposits", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Withdrawal", "Index", "Withdrawals", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Stock Transactions", "Index", "StockTransactions", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Transfer", "Index", "Transfers", null, new { @class = "btn btn-info" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
