@model IEnumerable<Longhorn_Bank.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>My Transactions</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.ActionLink("Deposit", "Deposits", "Transactions", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Withdrawal", "Withdrawals", "Transactions", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Stock Transactions", "Index", "StockTransactions", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Transfer", "Index", "Transfers", null, new { @class = "btn btn-info" })

        @Html.ActionLink("Pay Bills", "Index", "Payees", null, new { @class = "btn btn-info" })
    </p>
}
@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
}

Displaying @ViewBag.Returned out of @ViewBag.All Transactions
<table class="table">
    <tr>
        <th>
            Transaction Number
        </th>
        <th>
            Transaction Name
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Employee Comments
        </th>
        <th>
            Status
        </th>
        <th>
            Transaction Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionName)
        </td>>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Dispute", "Disputes", "Transactions", null, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
