@model Longhorn_Bank.Models.Transaction

@{
    ViewBag.Title = "MakeAPayment";
}

<h2>Make A Payment</h2>

<!-- Form Name -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#checkings">My Checkings</a>
        </li>
        <li>
            <a data-toggle="tab" href="#savings">My Savings</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="checkings" class="tab-pane fade in active">
            @using (Html.BeginForm("Index", "Deposits", FormMethod.Get))
            {
                <p class="form-group">
                    <br />
                    Deposit Account: @Html.DropDownList("SelectedCheckingDepositAccount", (SelectList)ViewBag.AllCheckingDeposits, new { @class = "form-control" })
                    <br />
                    Payment Date: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
                </p>
            }
        </div>
        <div id="savings" class="tab-pane fade">
            @using (Html.BeginForm("Index", "Deposits", FormMethod.Get))
            {
                <p class="form-group">
                    <br />
                    Deposit Account: @Html.DropDownList("SelectedSavingsDepositAccount", (SelectList)ViewBag.AllSavingsDeposits, new { @class = "form-control" })
                    <br />
                    Payment Date: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
                </p>
            }
            
            </div>
        </div>
}


